* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f8f9fa;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

section {
  padding: 120px 0 120px 0;
}

.logo {
  width: 12%;
  height: auto;
}

.logo-texto {
  width: 20%;
}

.nav-link {
  position: relative;
  color: #0f4c75 !important;
  font-weight: 500;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #1ea4ff;
  left: 0;
  bottom: -3px;
  transition: 0.3s ease;
  border-radius: 5px;
}

.nav-link:hover::after {
  width: 100%;
}

.hero-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #ffffff 50%, #aee3ff 50%);
  position: relative;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 280px;
  background: #aee3ff;
  border-bottom-left-radius: 180px;
}

.hero-content {
  padding-top: 40px;
  position: relative;
  z-index: 3;
}

.hero-title {
  line-height: 1;
  font-size: 4rem;
  font-weight: 700;
}

.hero-subtitle {
  font-size: 17px;
  color: #555;
}

.hero-dog-container {
  width: 420px;
  height: 420px;
  position: relative;
  overflow: visible;
}

.hero-dog {
  width: 120%;
  height: auto;
  object-fit: contain;
  position: absolute;
  left: 120px;
  bottom: -240px;
}

.servicio-titulo {
  font-size: 1.25rem; /* más grande que antes */
  font-weight: 600;   /* un poco más importante visualmente */
}


.btn-custom {
  background: #7bb5ff;
  color: white;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.btn-custom:hover {
  background: #5a9ae0;
  transform: translateY(-3px);
}
.btn-banner {
  background-color: #7494DF;
  color: white;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: 500;
  border: none;
}

.btn-banner:hover {
  background-color: #5980db;
  color: white;
}

.decorated-image-container {
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decorated-image-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #bfe4ff;
  border-radius: 30px;
  z-index: 1;
}

.decorated-image-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px dashed #9ccdf8;
  border-radius: 30px;
  transform: rotate(20deg);
  top: -10px;
  left: -10px;
  z-index: 0;
}

.decorated-main-img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 20px;
  z-index: 2;
  transition: 0.35s ease;
}

.decorated-image-container:hover .decorated-main-img {
  transform: translateY(-8px) scale(1.08);
}

.decorated-image-container:hover::after {
  transform: rotate(16deg);
}

.services-gap {
  gap: 10rem !important;
}
.servicio-card {
  cursor: pointer;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video-perrito {
  width: 100%;
  max-width: 1200px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

#review {
  padding-top: 80px;
  padding-bottom: 140px;
}

.review-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.review-highlight {
  background: #8bc9f8;
  border-radius: 20px;
  min-height: 500px;
}

.footer-section {
  background: #b7e3ff;
}

.footer-link {
  color: #0f4c75;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.decorated-image-container-footer {
  position: relative;
  width: 340px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -50px;
}

.decorated-image-container-footer::before {
  content: "";
  position: absolute;
  width: 86%;
  height: 80%;
  background: #8bc9f8;
  border-radius: 30px;
  z-index: 1;
  transform: rotate(30deg);
}

.decorated-image-container-footer::after {
  content: "";
  position: absolute;
  width: 92%;
  height: 87%;
  border: 2px dashed #9ccdf8;
  border-radius: 30px;
  transform: rotate(80deg);
  z-index: 0;
}

.decorated-main-img-footer {
  width: 77%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px;
  z-index: 2;
  transition: 0.35s ease;
  transform: rotate(30deg);
}

