*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo {
  width: 70px;
  height: auto;
}


body {
 background: #f8f9fa;

}

.hero-section {
  width: 100%;
  height: 520px;
  background: linear-gradient(135deg, #ffffff 50%, #aee3ff 50%);
  position: relative;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 280px;
  background: #aee3ff;
  border-bottom-left-radius: 180px;
}

.hero-content {
  padding-top: 40px;
  z-index: 3;
  position: relative;
}

.hero-title {
  font-size: 54px;
  font-weight: 700;
  line-height: 1.1;
}

.hero-subtitle {
  font-size: 17px;
  color: #555;
  margin-bottom: 22px;
}

.hero-btn {
  background: linear-gradient(135deg, #1ea4ff, #4bb2ff);
  border: none;
  border-radius: 40px;
  padding: 10px 28px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.hero-dog-container {
  width: 420px;     
  height: 420px;   
  overflow: visible;
  position: relative;
}

.hero-dog {
  width: 100%;              
  max-width: none;          
  height: auto;
  object-fit: contain;
  position: absolute;       
  right: -40px;               
  bottom: -100px;             
}

.section-title {
  font-size: 26px;
  font-weight: 600;
}

.service-card {
  width: 360px;         
}

.service-shape {
  width: 320px;
  height: 260px;
  background: #8fd6ff;
  border-radius: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.shape-inner {
  position: absolute;
  width: 320px;
  height: 260px;
  border-radius: 40px;
  border: 2px solid #8fd6ff;
  top: 18px;
  left: -22px;

  z-index: 1;       
 opacity: 0.5;
}

.service-img {
  width: 200%;
  height: 110%;
  object-fit: contain;
  z-index: 3;
}

.service-label {
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
}

.service-label {
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
}

.btn-custom {
    background: #7bb5ff;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.btn-custom:hover {
    background: #5a9ae0;
}

.bg-card {
    background: #bfe4ff;
    padding: 25px;
    border-radius: 25px;
    width: fit-content;
}

.review-img {
  width: 150px;      
  height: 150px;
  object-fit: cover; 
}


.review-highlight {
    background: #8bc9f8;
    border-radius: 20px;
    min-height: 420px; 
}


.footer-section {
    background: #b7e3ff;
}

.footer-link {
    color: #0f4c75;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

